version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    restart: always

  ui:
    build: .
    command: streamlit run ui/ui.py --server.port=8501
    ports:
      - "8501:8501"
    restart: always
    depends_on:
      - api